.list{
  margin-top: 10px;
}

.todo-card {
  background-color: blue;
  color: white;
  margin: 2px auto;
  height: 40px;
  line-height: 40px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
  align-items: center;
}

.list input {
  width: 50px;
  margin: 0;
  padding: 0;
}

.list button {
  height: 30px;
  
}